.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-backdrop;
  // анимация
  opacity: 1;
  transition: opacity $time-hover $time-function;
}
.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}
