.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  max-width: $mobile;
  padding-top: 60px;
  padding-bottom: 60px;

  &__tytle {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 30px;
  }

  @media screen and (min-width: $mobile) {
  }
  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding-top: 94px;
    padding-bottom: 94px;

    &__tytle {
      font-size: 36px;
      line-height: 1.18;

      margin-bottom: 50px;
    }
  }
}
